*.iml
.gradle/
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
gradle.properties
/predictor/HT_Sensor_dataset.dat
/predictor/HT_Sensor_metadata.dat

